.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15%;
  height: 50%;
  min-width: 260px;
  padding: 2% 5%;
  background-color: #23242D;
  overflow: hidden;
}

.card-container:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}


.card-content {
  border-radius: 10px;
  overflow: hidden;
  background-color: #191B21;
  min-height: 651px;
}

.card-content:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
